<!DOCTYPE html>

<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />

 <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>
 Band Tracker
    </title>
  </head>


<body>

  <%= yield %>

</body>


</html>
